.preference-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preference-card {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.preference-card h3 {
  font-weight: 600;
}

.time-slots {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.time-slots input[type="checkbox"] {
  display: none;
}

.time-slots label {
  padding: 10px 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Hover effect */
.time-slots label:hover {
  border-color: #007bff;
  color: #007bff;
}

/* Checked style */
.time-slots input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}



.movie-form {
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.theatre-checkbox-group {
  padding-left: 5px;
}

.movie-form h4 {
  text-align: center;
  font-weight: 600;
}

.theatre-checkbox-group {
  max-height: 160px;          /* REQUIRED for scroll */
  overflow-y: auto;
  scroll-behavior: smooth;

  padding-left: 5px;
  padding-right: 6px;
}

