.movies-container {
  padding: 30px;
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  
}

/* Tabs */
.tab-buttons {
  display: flex;
  justify-content:space-around;
  gap: 15px;
  margin-bottom: 30px;
}

.tab-buttons button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: #444;
  color: white;
  font-weight: 500;
}

.tab-buttons .active {
  background: #0d6efd;
}

/* Movie cards */
.image-container{
  width:250px;
}
 /* .movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns:300px 300px 300px;
  justify-content: center;
  gap: 20px;
  max-width:1000px ;
  margin: auto;
  overflow-y: scroll;
  
  
}  */

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  gap: 20px;

  max-width: 1000px;
  margin: auto;

  height: 60vh;              /* IMPORTANT */
  overflow-y: scroll;          /* Smooth scrolling */
  padding-right: 10px;       /* Prevent scrollbar overlap */

  border: 10px solid whitesmoke;
  border-radius: 5px;
}


@media (min-width:600px)
{
  .movie-grid{
    grid-template-columns: repeat(2,300px);
    
  }
}

@media (min-width:900px)
{
  .movie-grid{
    grid-template-columns: repeat(3,300px);
  }
}

.movie-card {
  margin:10px;
  background: white;
  color: black;
  width:280px;

  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  text-align: center;
}

.movie-card img{
  margin-top: 2px;
  width: 275px;
  height:280px;
 

  
}



.movie-card.upcoming {
  opacity: 0.85;
}

/* Timings */
.timings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.timings span {
  background: #e9ecef;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

/* Preference */
.preference-section {
  max-width: 500px;
  margin: auto;
}

.pref-card {
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.pref-card.active {
  background: #198754;
  color: white;
}

.pref-card.completed {
  background: #6c757d;
  color: white;
}
