.movie-form {
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.theatre-checkbox-group {
  padding-left: 5px;
}

.movie-form h4 {
  text-align: center;
  font-weight: 600;
}

.Form-container{
    margin-top: 80px;
}